<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная Booml</title>
</head>
<body>
    <div style="background: #eaeaea; padding: 14px 0; text-align: center; margin-bottom: 30px;">
        <span style="margin: 0 14px; font-weight: bold;">Список задач</span>|
        <span style="margin: 0 14px; cursor:pointer;" onclick="alert('Переход в блокнот пока недоступен (заглушка)')">Блокнот</span>|
        {% if user %}
            <span style="margin: 0 14px; cursor:pointer;" onclick="alert('Заглушка на выход')">Выйти</span>
        {% else %}
            <span style="margin: 0 14px; cursor:pointer;" onclick="alert('Заглушка на вход')">Войти</span>
        {% endif %}
    </div>
    <div>
        <h2>Список задач</h2>
        <ul>
            {% for task in tasks %}
                <li>{{ task.title }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
