{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ task.title }}</title>
    <link rel="stylesheet" href="{% static 'runner/style.css' %}">
</head>
<body>
    <div class="task-container">
        <h1>{{ task.title }}</h1>
        <p>Сложность: {{ task.rating }}</p>
        <p class="description">{{ task.statement }}</p>

        {% if task.train_data %}
            <p>
                <strong>Данные для обучения:</strong>
                <a href="{{ task.train_data.url }}" download>Скачать файл</a>
            </p>
        {% endif %}
        {% if task.test_data %}
            <p>
                <strong>Данные для тестирования:</strong>
                <a href="{{ task.test_data.url }}" download>Скачать файл</a>
            </p>
        {% endif %}
    </div>
</body>
</html>