:root {
  /* TEXT */
  --color-text-primary: #2C2C2C;
  --color-text-title: #1F1F1F;

  /* BACKGROUND */
  --color-bg-default: #F4F8FD;

  /* BUTTON */
  --color-button-primary: #144EEC;
  --color-button-secondary: #EFF6FF;
  --color-button-text-primary: #FFFFFF;
  --color-button-text-secondary: #000000;
}
