:root {
  /* ===== Brand / Primary ===== */
  --color-primary: #27346A;

  /* ===== Backgrounds ===== */
  --color-background: #FBFAFF;
  --color-bg-default: #FBFAFF;
  --color-bg-card: #FFFFFF;
  --color-bg-primary: #F4F2FF;
  --color-bg-muted: #F6F7FD;

  /* ===== Text ===== */
  --color-title-text: #30343F;
  --color-text-primary: #1E264A;
  --color-text-muted: #5C6280;
  --color-text-danger: #B42318;

  /* ===== Buttons ===== */
  --color-button-primary: #27346A;
  --color-button-text-primary: #FFFFFF;
  --color-button-primary-hover: #1A274D;

  --color-button-secondary: #E4DAFF;
  --color-button-text-secondary: #000000;
  --color-button-secondary-hover: #E4DAFF;

  /* ===== Borders / UI ===== */
  --color-border-default: #E0E3F0;
  --color-border-light: #EEF0FA;

  /* ===== Feedback / Messages ===== */
  --color-success-bg: #d1fae5;
  --color-success-text: #065f46;
  --color-success-border: #a7f3d0;

  --color-error-bg: #fee2e2;
  --color-error-text: #991b1b;
  --color-error-border: #fecaca;
  --color-border-danger: #F1B6B4;
}
