:root {
  --font-default: Roboto, sans-serif;
}

/* === TITLE === */
h1 {
  font-family: var(--font-default);
  font-weight: 400;
  font-size: 28px;
}

/* === TITLE 2 === */
h2 {
  font-family: var(--font-default);
  font-weight: 400;
  font-size: 24px;
}

/* === TITLE 3 === */
h3 {
  font-family: var(--font-default);
  font-weight: 400;
  font-size: 20px;
}

/* === BODY === */
p {
  font-family: var(--font-default);
  font-weight: 400;
  font-size: 16px;
}
